@import './ResponsiveMixins.scss';


.main-content {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    width: 60vw;
    min-height: 40vh;
    background-color: #ffffff;
    -webkit-box-shadow: -1px 0px 26px -2px rgba(0,0,0,0.62);
    -moz-box-shadow: -1px 0px 26px -2px rgba(0,0,0,0.62);
    box-shadow: -1px 0px 26px -2px rgba(0,0,0,0.62);
    
    @include desktop {
        width: 80vw;
    }
    @include tablet {
        width: 80vw;
    }
    @include mobile {
        margin-left: 0px;
        width: 85vw;
    }
}

.card_header {
    display: flex;
    flex-direction: row;
    width: 95%;
    &.loaded {
        .image_spinner {
            display: none;
            width: 100%;
        }
    }
    @include tablet {
        flex-wrap: wrap;
    }
    @include mobile {
        flex-wrap: wrap;
    }
}

.card_img {
    margin-top: 20px;
    margin-left: 20px;
    width: auto;
    height: 60px;
    @include mobile {
        width: 180px;
        height: auto;
    }
}

.job_title {
    text-align: center;
    margin-top: 22px;
    margin-left: 30px;
    font-size: 22px;
    font-weight: bold;
    width: 22.92vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include mobile {
        width: 22.92vw;
    }
}

.company_name {
    margin-left: 17.36vw;
    font-size: 14px;
    color: gray;
    @include mobile {
        margin-top: 10px;
        margin-left: 8.36vw;
    }
    @include tablet {
        margin-left: 32.36vw;
    }
}

.job_time {
    margin-left: auto;
    margin-top: 25px;
    @include mobile {
        margin-left: 30px;
    }
}

.job_location {
    margin-left:17.36vw;
    margin-top: 5px;
    font-size: 11px;
    color: gray;
    @include mobile {
        margin-left: 8.36vw;
    }
    @include tablet {
        margin-left: 32.36vw;
    }
}

.job_description {
    margin-top: 20px;
    margin-left: 30px;
    width: 90%;
}

.card_footer {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.application_link {
    margin-left: 32px;
    margin-top: 20px;
    overflow: hidden;
    width: 70vw;
}

.apply > p {
   display: block
}
  